streamlit==1.32.2
streamlit-lottie==0.0.5
requests==2.31.0
streamlit-option-menu==0.3.12
pandas==2.2.1
numpy==1.26.4
plotly==5.19.0
wordcloud==1.9.3
matplotlib==3.8.3
seaborn==0.13.2
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-text-splitters==0.0.1
transformers==4.39.1
chromadb==0.4.24
sentence-transformers==2.6.0
faiss-cpu==1.8.0
scikit-learn==1.4.1.post1

